/* A Boricraft Development production */
/* Web development by Boricraft and Radical06 */
/* Design by CookieRookie and Coffeedawg  */

.navbar {
    transition: top 1s;
    color: black;
}
.navbar-brand {
    margin-left: 1%;
}
@media only screen and (max-width: 375px) {
    .navbar-brand {
        display: none;
    }
  }