/* A Boricraft Development production */
/* Web development by Boricraft and Radical06 */
/* Design by CookieRookie and Coffeedawg */

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

body {
    background-color: #4fc2e8;
    scroll-behavior: smooth;
    
}
.navbar {
    transition: top 1s;

}
.navbar-brand {
    margin-left: 1%;
}

.nav-link {
    text-align: right;
    display: inline-block;
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: .3125rem;
    line-height: inherit;
    white-space: nowrap;
}

.linkjes{
    margin-right: 1.3rem;
}
.helpmenu {
    margin-right: 2rem;
}
.helpmenu i {
    margin-right: 0.2em;
}


#help {
    font-size: 2rem;
    color: white;
}

.landingpage-left {
    float: left;
    margin-left: 5vw;
    margin-top: 25vh;
}

.landingpage-left h1{
    font-size: 4.5rem;
    color: white;
    width: 33vw;
    height: 17vh;
}

.landingpage-left button {
    background-color: #1597bb;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 5rem;
    border-radius: 16px;
    font-family: 'Cairo', sans-serif;
    letter-spacing: 2px;
}


.landingpage-right {
    margin-top: 10vh;
    float: right;
    margin-right: 5vw;
}

@media only screen and (max-width: 1405px){
    .tree{
        display: none;
    }
    .landingpage-left{
        width: 100%;
    }
    .landingpage-left h1{
        width: 100%;
    }
    .landingpage-left button {
        margin: auto;
    }
}

