/* A Boricraft Development production */
/* Web development by Boricraft and Radical06 */
/* Design by CookieRookie and Coffeedawg */

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

body {
    background-color: #262626;
    scroll-behavior: smooth;
    color: white;
}
.navbar {
    transition: top 1s;
    color: #3691e2;
}
.navbar-brand {
    margin-left: 1%;
}

.nav-link {
    text-align: right;
    display: inline-block;
    padding-top: .9rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}


.nav-link {
    text-align: right;
    font-family: 'Cairo', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #fff;
}

.about {
    margin-left: 5rem;
    margin-top: 10rem;
}



@media only screen and (max-width: 394px) {
    .navbar-brand {
        display: none;
    }
  }