/* A Boricraft Development production */
/* Web development by Boricraft and Radical06 */
/* Design by CookieRookie and Coffeedawg */

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

body {
    background-color: #4fc2e8;
    scroll-behavior: smooth;
    
}
.navbar {
    transition: top 1s;

}
.navbar-brand {
    margin-left: 1%;
}

.nav-link {
    text-align: right;
    display: inline-block;
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: .3125rem;
    line-height: inherit;
    white-space: nowrap;
}

.linkjes{
    margin-right: 1.3rem;
}
.helpmenu {
    margin-right: 2rem;
}
.helpmenu i {
    margin-right: 0.2em;
}


#help {
    font-size: 2rem;
    color: white;
}

.landingpage .h1 {
    color: white;
    margin-top: 20vh;
    margin-left: 5vw;
    width: 40%;
    font-size: 5rem;
    float: left;
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
}
.landingpage #b80448b0-14d5-4ee1-8d6b-75eb9311be00 {
    float: right;
    margin-top: 7vh;
    height: 69vh;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.btn {
    margin-top: 27rem;
    position: absolute;
}

.landingpage button {
    float: left;
    margin-left: 5vw;
    width: 10%;
    height: 5%;
    border-radius: 16px;
    background-color: #1597bb;
    color: white;
    font-weight: 550;
    font-family: 'Cairo', sans-serif;
    letter-spacing: 2px;
}


@media only screen and (max-width: 394px) {
    .navbar-brand {
        display: none;
    }
  }