/* A Boricraft Development production */
/* Web development by Boricraft and Radical06 */
/* Design by CookieRookie and Coffeedawg */

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

body {
    background-color: #262626;
    scroll-behavior: smooth;
}
.navbar {
    transition: top 1s;
    color: #3691e2;
}
.navbar-brand {
    margin-left: 1%;
}

.navOne {
    text-align: right;
    font-family: 'Cairo', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #fff;
}

.h2,.h5,p {
    color: white;
}

.sidebarMenu {
    background-color: #262626;
}
a {
    color: white;
}

.iconMenu i{
    color: white;
    font-size: 50px;
    padding-left: 70px;
}
.iconMenu {
    text-align: center;
}

@media only screen and (max-width: 394px) {
    .navbar-brand {
        display: none;
    }
  }